# Windows default autosave extension
*.asv
Thumbs.db

# OSX / *nix default autosave extension
*.*~

# hidden extensions
.DS_Store

# other extensions
*.pyc
*.mps
*.ipynb_checkpoints
*.zip

# jupyter notebook files
*.ipynb

# csv files
*.csv

# pdf files
*.pdf

# keynote files
*.key

# old or unused directories
/results_*
/*/old_unused

# large data files
TCGA_data*
allcancerdata*
CancerDataStore*

# manuscript files
/doc/manuscript

# R data file
*.rds

# h5 data store files
*.h5

# excel files
*.xlsx

# Windows executable files
*.exe
*.exe.*

# Windows dynamic library files
*.dll
