# Windows default autosave extension
*.asv
Thumbs.db

# OSX / *nix default autosave extension
*.*~

# hidden extensions
.DS_Store

# other extensions
*.pyc
*.mps
*.ipynb_checkpoints
*.zip

# jupyter notebook files
*.ipynb

# csv files
*.csv

# R data file
*.rds

# h5 data store files
*.h5

# log files and result files
*.log
*.xlsx

# Windows executable files
*.exe
*.exe.*

# Windows dynamic library files
*.dll
